.cover__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 60%;
  text-decoration-line: none;
  position: relative;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.3s ease-in;
}

.cover__link:hover:before {
  background-color: rgba(42, 44, 47, 0.8);
}
